@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway&display=swap');

@import '~vue-material/dist/vue-material.min.css';
@import '~vue-material/dist/theme/engine';

$primary-color: #EDD12E;
$secondary-color: #ed3156;
$accent: rgb(36, 36, 36);
$dark-grey: #1E1E1E;

@include md-register-theme('default', (
  primary: $primary-color,
  secondary: $secondary-color,
  accent: $accent,
  theme: dark
));

@import "~vue-material/dist/theme/all";


*{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
}
.right{
  float: right;
}
.left{
  float: left;
}
.container {
  margin: auto;
  padding: 15px;
  @media (min-width: 576px){
    width: 500px;
  }
  @media (min-width: 768px){
    width: 768px;
  }
  @media (min-width: 992px){
    width: 990px;
  }
  @media (min-width: 1200px){
    width: 1200px;
  }
}