@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway&display=swap');

*{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: auto;
  padding: 15px;
  @media (min-width: 576px){
    width: 500px;
    
  }
  @media (min-width: 768px){
    width: 768px;
  }
  @media (min-width: 992px){
    width: 990px;
  }
  @media (min-width: 1200px){
    width: 1200px;
  }
}